# Cadena de conexión de MongoDB Atlas
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority

# Puerto en el que se ejecutará el servidor (Render asigna automáticamente process.env.PORT)
PORT=3000
